{% extends 'base.html' %}
{% block body %}

<h3> {{board.title}} </h3>
최초작성 : {{board.created_at}}<br>
최종수정 : {{board.updated_at}}<br>
<hr>
{{board.content}}
<hr>

<form action="{% url 'board:comments_create' board.pk %}" method="POST">
    {%csrf_token%}
    댓글 남기기 <input type="text" name="content" >
    <input type="submit" value="댓글작성" >
</form>

<hr>
    <p><b>댓글 목록 | 현재댓글개수 {{comments|length}}</b></p>
    {% for comment in comments %}
    <li> {{ comment.content }}
        <a href="{% url 'board:comments_edit' board.pk comment.pk %}"> 수정 </a>
        <a href="{% url 'board:comments_delete' board.pk comment.pk %}"> 삭제 </a>
    </li>
    {% empty %}
        댓글이 없습니다.
    {% endfor %}

<hr>

<a href="{% url 'board:index' %}"> 메인으로 </a>
<a href="{% url 'board:edit' board.pk %}"> 글수정 </a>
<a href="{% url 'board:delete' board.pk %}"> 글삭제 </a>

{% endblock %}